{% extends "base.html" %}

{% block title %}
About - {{ entry.title }}

{% endblock %}

{% block body %}
{% autoescape off %}

{% if request.user.is_staff %}
<script>
  var edit = function (section) {
    $(section).summernote({ focus: true });
  };
  var save = function (section, model) {
    $(document).ready(function () {
      var data = { html: $(section).summernote('code'), item_id: {{ entry.pk }}, model: model };
  var csrftoken = '{{ csrf_token }}';
  const url = '';
  $.ajax({
    headers: { "X-CSRFToken": csrftoken },
    url: url,
    type: "POST",
    data: data,
    dataType: "HTML"
  })
  $(section).summernote('destroy');
  });
};
</script>
{% endif %}
<h2>
  <div class="page_headline">{{ entry.title }}</div>
</h2>
{% if request.user.is_staff %}
<button id="edit" class="btn btn-secondary" onclick="edit('.page_headline')" type="button">Edit</button>
<button id="save" class="btn btn-secondary" onclick="save('.page_headline','title')" type="button">Save</button>
{% endif %}

<div class="page_body">{{ entry.body }}</div>
{% if request.user.is_staff %}
<button id="edit" class="btn btn-secondary" onclick="edit('.page_body')" type="button">Edit</button>
<button id="save" class="btn btn-secondary" onclick="save('.page_body','body')" type="button">Save</button>
{% endif %}

{% endautoescape %}
{% endblock %}